@import "./base"

main
    .article-title
        margin-bottom: 15px

    h4
        padding-top: 20px
        padding-bottom: 4px

    nav ul
        list-style-type: decimal
        list-style-position: inside
    
    img
        max-width: 98%
        // margin: auto
        // position: absolute
        // left: 50%
        // transform: translateX(50%)
    
    .gallery
        max-width: 200px
        display: inline